/*
===========
Reset
===========
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
===========
Container
===========
*/

body {
  background-color: antiquewhite;
  font-family: 'Roboto', sans-serif;
}

.container-big {
  height: 100vh;
}

.container {
  background-color: gainsboro;
  border-bottom: 2px solid lightsalmon;
  border-radius: 1.5625rem 0rem 1.5625rem 0rem;
  height: 20rem;
  width: 31.25rem;
}

.container-small {
  flex-direction: column;
  height: inherit;
  text-align: center;
}

/*
===========
Common
===========
*/

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center;
}

button {
  background-color: lightsalmon;
  border: none;
  box-shadow: 0rem .125rem .25rem .0625rem #121212;
  color: #121212;
  font-family: inherit;
  font-size: 1.125rem;
  padding: .625rem 1.5625rem;
}

/*
===========
Main
===========
*/

.numbers span {
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 5rem;
  margin: .625rem;
  padding: 1.25rem;
}

.random-numbers span {
  background-color: lightsalmon;
}

.user-inputs span {
  background-color: lightseagreen;
}

.results span {
  margin: .75rem;
}

.results span.red {
  color: red;
  font-size: 1.6rem;
}

.results span.green {
  color: green;
  font-size: 1.4rem;
}

.win-condition {
  font-size: 18px;
}